@body-background-color: var(--body-background-color);
@card-background-color: var(--card-background-color);
@content-background-color: var(--content-background-color);
@text-color: var(--text-color);
@text-color-line: var(--text-color-line);
@primary: var(--primary);
@scrollbar-color: var(--scrollbar-color);
@scrollbar-color-hover: var(--scrollbar-color-hover);
@code-text-color: var(--code-text-color);

@search-background: var(--search-background);
@search-input-background: var(--search-input-background);
@search-input-focus-background: var(--search-input-focus-background);
@search-input-hover-background: var(--search-input-hover-background);

:root {
  --el-color-primary: var(--primary);
  --el-color-success: var(--primary);
  --el-color-white: var(--card-background-color);
  --el-border-color-light: var(--body-background-color);
}