@body-background-color: var(--body-background-color);
@card-background-color: (var(--card-background-color));
@text-color: var(--text-color);
@text-color-line: var(--text-color-line);
@primary: var(--primary);
@scrollbar-color: var(--scrollbar-color);
@scrollbar-color-hover: var(--scrollbar-color-hover);

:root {
  --el-color-primary: var(--primary);
  --el-color-success: var(--primary);
  --el-color-white: var(--card-background-color);
  --el-border-color-light: var(--body-background-color);
}