.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;

  .avatar-mini {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #aaa;
    opacity: 1;
  }

  .avatar-position {
    position: absolute;
    transform: translateX(-40%);
    z-index: 30000;
    width: 82px;
    height: 82px;
    left: 0;
    top: 15px;

    .avatar {
      width: 82px;
      height: 82px;
      border-radius: 50%;
    }
  }
}

.hide {
  .avatar-mini {
    animation: hide-avatar-mini 0.5s forwards;
  }

  .avatar-position {
    .avatar {
      animation: hide-avatar 0.5s forwards;
    }
  }
}

.open {
  .avatar-mini {
    animation: open-avatar-mini 0.5s forwards;
  }

  .avatar-position {
    .avatar {
      animation: open-avatar 0.5s forwards;
    }
  }
}

@keyframes open-avatar {
  0% {
    transform: scale(0.69) translate(28.5px, -30.4px);
  }

  30% {
    transform: scale(0.8) translate(29px, -31px);
  }

  100% {
    transform: scale(1.2) translate(0);
  }
}

@keyframes hide-avatar {
  0% {
    transform: scale(1.2) translate(0);
  }

  50% {
    transform: scale(0.8) translate(29px, -31px);
  }

  100% {
    transform: scale(0.69) translate(28.5px, -30.4px);
  }
}

@keyframes open-avatar-mini {
  // 0% {
  //   opacity: 1;
  // }

  100% {
    opacity: 0;
  }
}

@keyframes hide-avatar-mini {
  // 0% {
  //   opacity: 0;
  // }

  100% {
    opacity: 1;
  }
}

.popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  .username {
    font-size: 18px;
  }
}